html
{
    height: 100%;
}

body
{
    height:100%;
}

#content
{
    width: calc(100% - 30px);
    height: calc(100% - 50px);
    background-color: lightblue;
    border: black 1px solid;
    padding: 15px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    overflow-anchor: none;
}
